export(parse_file)

# hack to make readr use seen by R CMD check
importFrom(readr, locale)

importFrom("utils", "head", "tail")

S3method(print,hypoparser_result)
S3method(as.data.frame,hypoparser_result)

